USE [master]
GO
/****** Object:  Database [quanlynhathuoc]    Script Date: 11/28/2018 7:31:21 AM ******/
CREATE DATABASE [quanlynhathuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlynhathuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlynhathuoc.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlynhathuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlynhathuoc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlynhathuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlynhathuoc]
GO
/****** Object:  Table [dbo].[HOADON_BAN]    Script Date: 11/28/2018 7:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_BAN](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiMua] [nvarchar](50) NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[MaThuoc] [varchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_HOADON_BAN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_NHAP]    Script Date: 11/28/2018 7:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_NHAP](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[HanSuDung] [varchar](50) NULL,
 CONSTRAINT [PK_HOADON_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
